img {
  width: 50px;
  height: 50px;
  margin-left: -150px;    
  margin-top:10px;
}

.toggle-bars {
  position: absolute;
  top:20px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width:35px;
  background-color:#fff;
  margin: 7px 0;
  height:2px;
 
}
nav {
  background-image: linear-gradient(to right,  #fceac8  0%, #2a2c6b 100%);
  flex-direction: column;
  min-height:50px;
  position: relative;
  border-radius:5px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.nav {
  display: block;
}
.show {
  display: block !important;
}
.nav ul {
  list-style-type: none;
  padding:0;
  margin-left: -20px;
  margin-top: 13px;
  display: flex;
  
}


@media screen and (min-width:600px ){
  nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding:10px 30px;
}
  .toggle-bars {
    display: none;
  }


}
.nav ul li{
      color:#999;
      padding:10px 20px;
      font-size:15px;
      text-decoration:none;
      letter-spacing:2px;
      text-transform:uppercase;
      display:flex;
      justify-content:space-evenly;
      font-family: Century Gothic;
    }
    
.nav ul li:hover{
      border:none;
      background:rgba(0, 0, 0, 0.4);
      padding:20px 20px;
      color:#1b1b1b;
    }

.nav ul li a:link, a:visited {
      color: black;
      border: 1px transparent;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    


button {
background-color:  #2a2c6b;
border: none;
color: white;
position: absolute;
top: 20px;
right: 25px;
padding: 1rem;
transition: transform 0.5s ease-in-out;
}

button.active {
transform: translateX(-100px);
}



